<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csi.mapper.CustomerMapper">
    <cache/>
    <select id="getAllCustomer" resultType="com.csi.domain.Customer">
        select
        c.id,c.name,c.phone,c.borndate,company,position,source,status,status_name,notes,sdr_status,sdr_status_name,
        sdr_notes,assignee_id,e1.name,creator_id,e2.name,last_follow_up_time,c.create_time,c.update_time
        from customers c left join status s on c.status = s.status_id
        left join sdr_status ss on c.sdr_status = ss.sdr_status_id
        left join employees e1 on c.assignee_id = e1.id
        left join employees e2 on c.creator_id = e2.id
    </select>
    <select id="getAssignedCustomer" resultType="com.csi.domain.Customer">
        select
        c.id,c.name,c.phone,c.borndate,company,position,source,status,status_name,notes,sdr_status,sdr_status_name,
        sdr_notes,assignee_id,e1.name,creator_id,e2.name,last_follow_up_time,c.create_time,c.update_time
        from customers c left join status s on c.status = s.status_id
        left join sdr_status ss on c.sdr_status = ss.sdr_status_id
        left join employees e1 on c.assignee_id = e1.id
        left join employees e2 on c.creator_id = e2.id
        where c.assignee_id is not null
    </select>
    <select id="getUnAssignedCustomer" resultType="com.csi.domain.Customer">
        select
        c.id,c.name,c.phone,c.borndate,company,position,source,status,status_name,notes,sdr_status,sdr_status_name,
        sdr_notes,assignee_id,e1.name,creator_id,e2.name,last_follow_up_time,c.create_time,c.update_time
        from customers c left join status s on c.status = s.status_id
        left join sdr_status ss on c.sdr_status = ss.sdr_status_id
        left join employees e1 on c.assignee_id = e1.id
        left join employees e2 on c.creator_id = e2.id
        where c.assignee_id is null
    </select>

    <update id="changeCustomerStatus" parameterType="com.csi.domain.Customer">
        UPDATE customers SET status = #{status} WHERE id = #{id}
    </update>

    <select id="checkCustomerPhone" resultType="com.csi.domain.Customer">
        SELECT phone FROM CUSTOMERS WHERE phone=#{phone}
    </select>

    <insert id="addCustomer">
        INSERT INTO customers (name, phone, borndate, company, position, source, status, assignee_id,creator_id)
        VALUES (#{name}, #{phone}, #{borndate}, #{company}, #{position}, #{source},#{status},#{assigneeId},#{creatorId});
    </insert>

</mapper>