<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csi.mapper.CustomerFollowsMapper">
<!--    <cache/>-->

    <select id="getPersonalCustomerByTime" resultType="com.csi.domain.CustomerFollows">
        SELECT
        cf.id,
        cf.customer_id as customerId,
        cf.executor_id as executorId,
        cf.type,
        cf.content,
        cf.next_plan as nextPlan,
        cf.next_contact_time as nextContactTime,
        cf.create_time as createTime
        FROM customer_follows cf
        WHERE cf.create_time BETWEEN #{startTime} AND #{endTime}
        ORDER BY cf.create_time DESC
    </select>

    <select id="getAllCustomerFollows" parameterType="com.csi.domain.CustomerFollows">
        SELECT
        cf.id,
        cf.customer_id as customerId,
        cf.executor_id as executorId,
        cf.type,
        cf.content,
        cf.next_plan as nextPlan,
        cf.next_contact_time as nextContactTime,
        cf.create_time as createTime
        FROM customer_follows cf
    </select>

    <select id="getCustomerFollowsByCustomerId" parameterType="java.lang.Integer" resultType="com.csi.domain.CustomerFollows">
        SELECT
        cf.id,
        cf.customer_id as customerId,
        cf.executor_id as executorId,
        cf.type,
        cf.content,
        cf.next_plan as nextPlan,
        cf.next_contact_time as nextContactTime,
        cf.create_time as createTime
        FROM customer_follows cf
        WHERE cf.customer_id = #{customerId}
        ORDER BY cf.create_time DESC
    </select>

    <insert id="addCustomerFollows"  parameterType="com.csi.domain.CustomerFollows">
        INSERT INTO customer_follows (
        customer_id,
        executor_id,
        type,
        content,
        next_plan,
        next_contact_time,
        create_time
        ) VALUES (
        #{customerId},
        #{executorId},
        #{type},
        #{content},
        #{nextPlan},
        #{nextContactTime},
        NOW()
        )
    </insert>

    <update id="updateCustomerFollows" parameterType="com.csi.domain.CustomerFollows">
        UPDATE customer_follows SET
        customer_id = #{customerId},
        executor_id = #{executorId},
        type = #{type},
        content = #{content},
        next_plan = #{nextPlan},
        next_contact_time = #{nextContactTime}
        WHERE id = #{id}
    </update>

</mapper>