<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csi.mapper.CustomerMapper">
    <cache/>
    <!--查询全部的客户信息-->
    <select id="getAllCustomer" resultType="com.csi.domain.Customer">
        select c.id,c.name,c.phone,c.sex,c.borndate,company,position,source,status,status_name,notes,sdr_status,sdr_status_name,
        sdr_notes,assignee_id,e1.name,creator_id,e2.name,last_follow_up_time,c.create_time,c.update_time
        from customers c left join status s on c.status = s.status_id
        left join sdr_status ss on c.sdr_status = ss.sdr_status_id
        left join employees e1 on c.assignee_id = e1.id
        left join employees e2 on c.creator_id = e2.id
    </select>
    <!--销售经理查看除未联系之外的所有客户信息-->
    <select id="getAllSaleCustomer" resultType="com.csi.domain.Customer">
        select c.id,c.name,c.phone,c.sex,c.borndate,company,position,source,status,status_name,notes,sdr_status,sdr_status_name,
        sdr_notes,assignee_id,e1.name,creator_id,e2.name,last_follow_up_time,c.create_time,c.update_time
        from customers c left join status s on c.status = s.status_id
        left join sdr_status ss on c.sdr_status = ss.sdr_status_id
        left join employees e1 on c.assignee_id = e1.id
        left join employees e2 on c.creator_id = e2.id
        where sdr_status != 1
    </select>
    <!--查看有意向已分配客户-->
    <select id="getAssignedCustomer" resultType="com.csi.domain.Customer">
        select c.id,c.name,c.phone,c.sex,c.borndate,company,position,source,status,status_name,notes,sdr_status,sdr_status_name,
        sdr_notes,assignee_id,e1.name,creator_id,e2.name,last_follow_up_time,c.create_time,c.update_time
        from customers c left join status s on c.status = s.status_id
        left join sdr_status ss on c.sdr_status = ss.sdr_status_id
        left join employees e1 on c.assignee_id = e1.id
        left join employees e2 on c.creator_id = e2.id
        where c.assignee_id is not null and sdr_status = 3
    </select>
    <!--查看有意向未分配客户-->
    <select id="getUnAssignedCustomer" resultType="com.csi.domain.Customer">
        select c.id,c.name,c.phone,c.sex,c.borndate,company,position,source,status,status_name,notes,sdr_status,sdr_status_name,
        sdr_notes,assignee_id,e1.name,creator_id,e2.name,last_follow_up_time,c.create_time,c.update_time
        from customers c left join status s on c.status = s.status_id
        left join sdr_status ss on c.sdr_status = ss.sdr_status_id
        left join employees e1 on c.assignee_id = e1.id
        left join employees e2 on c.creator_id = e2.id
        where c.assignee_id is null and sdr_status = 3
    </select>

    <!--查看无意向客户-->
    <select id="getNoIntentionCustomer" resultType="com.csi.domain.Customer">
        select c.id,c.name,c.phone,c.sex,c.borndate,company,position,source,status,status_name,notes,sdr_status,sdr_status_name,
        sdr_notes,assignee_id,e1.name,creator_id,e2.name,last_follow_up_time,c.create_time,c.update_time
        from customers c left join status s on c.status = s.status_id
        left join sdr_status ss on c.sdr_status = ss.sdr_status_id
        left join employees e1 on c.assignee_id = e1.id
        left join employees e2 on c.creator_id = e2.id
        where sdr_status = 2
    </select>

    <!--查看信息有误客户-->
    <select id="getInfoIncorrectCustomer" resultType="com.csi.domain.Customer">
        select c.id,c.name,c.phone,c.sex,c.borndate,company,position,source,status,status_name,notes,sdr_status,sdr_status_name,
        sdr_notes,assignee_id,e1.name,creator_id,e2.name,last_follow_up_time,c.create_time,c.update_time
        from customers c left join status s on c.status = s.status_id
        left join sdr_status ss on c.sdr_status = ss.sdr_status_id
        left join employees e1 on c.assignee_id = e1.id
        left join employees e2 on c.creator_id = e2.id
        where sdr_status = 4
    </select>

    <!--根据来源筛选客户-->
    <select id="getCustomerBySource" resultType="com.csi.domain.Customer">
        select c.id,c.name,c.phone,c.sex,c.borndate,company,position,source,status,status_name,notes,sdr_status,sdr_status_name,
        sdr_notes,assignee_id,e1.name,creator_id,e2.name,last_follow_up_time,c.create_time,c.update_time
        from customers c left join status s on c.status = s.status_id
        left join sdr_status ss on c.sdr_status = ss.sdr_status_id
        left join employees e1 on c.assignee_id = e1.id
        left join employees e2 on c.creator_id = e2.id
        where source like concat('%',#{source},'%')
    </select>

    <update id="changeCustomerStatus">
        UPDATE customers SET status = #{status} WHERE id = #{id}
    </update>

    <insert id="add5Customer" parameterType="com.csi.domain.Customer">
        INSERT INTO
        customers(
        name, phone, sex, borndate,
        company, position, source,
        status, notes, assignee_id,
        creator_id )
        VALUES
        ( #{name}, #{phone}, #{sex}, #{borndate},
        #{company}, #{position}, #{source},
        #{status}, #{notes}, #{assigneeId},
        #{creatorId} )
    </insert>

    <update id="updateCustomer" parameterType="com.csi.domain.Customer">
        UPDATE customers
        SET
        name = #{name},
        phone = #{phone},
        sex = #{sex},
        borndate = #{borndate},
        company = #{company},
        position = #{position},
        source = #{source},
        status = #{status},
        notes = #{notes},
        assignee_id = #{assigneeId},
        last_follow_up_time = #{lastFollowUPTime},
        is_pool = #{isPool},
        pool_time = #{poolTime}
        WHERE id = #{id}
    </update>

    <select id="getPersonalCustomer" resultType="com.csi.domain.Customer">
        SELECT *
        FROM customers
        WHERE assignee_id = #{id}
    </select>

    <select id="getPersonalCustomerByTime" resultType="com.csi.domain.CustomerFollows">
        SELECT *
        FROM customer_follows
        WHERE DATE(create_time) = DATE(#{date})
    </select>

    <select id="checkCustomerPhone" resultType="com.csi.domain.Customer">
        SELECT phone FROM CUSTOMERS WHERE phone=#{phone}
    </select>

    <insert id="addCustomer">
        INSERT INTO customers (name, phone, sex,borndate, company, position, source, status, assignee_id,creator_id,is_pool,activity_id)
        VALUES (#{name}, #{phone}, #{sex},#{borndate}, #{company}, #{position}, #{source},#{status},#{assigneeId},#{creatorId},#{isPool},#{activityId});
    </insert>

</mapper>