<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csi.mapper.EmployeeMapper">


    <resultMap id="EmployeesResultMap" type="com.csi.domain.Employee">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="name" column="name" />
        <result property="sex" column="sex" />
        <result property="phone" column="phone" />
        <result property="borndate" column="borndate" />
        <result property="email" column="email" />
        <result property="department" column="department" />
        <result property="role" column="role" />
        <result property="superiorId" column="superior_id" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

<!--    经理查询下属员工-->
    <select id="getAllEmployees" resultType="com.csi.domain.Employee">
        select e.id as id,
        e.username,
        e.name,
        e.phone,
        e.sex,
        e.borndate,
        e.email,
        e.department,
        d.department_name,
        e.role,
        r.role_name,
        e.create_time,
        e.update_time,
        e.superior_id,
        sup.name as superiorName
        from employees e
        join departments d on e.department = d.department_id
        join roles r on e.role = r.id
        left join employees sup on e.superior_id = sup.id
        where 1=1
        <if test="superiorId != null">
            AND superior_id = #{superiorId}
        </if>

    </select>

    <select id="getAllEmployeesWithConditions" parameterType="map" resultType="com.csi.domain.Employee">
        select e.id as id,
        e.username,
        e.name,
        e.phone,
        e.sex,
        e.borndate,
        e.email,
        e.department,
        d.department_name,
        e.role,
        r.role_name,
        e.create_time,
        e.update_time,
        e.superior_id,
        sup.name as superiorName
        from employees e
        join departments d on e.department = d.department_id
        join roles r on e.role = r.id
        left join employees sup on e.superior_id = sup.id
        <where>
            <if test="superiorId != null">
                AND e.superior_id = #{superiorId}
            </if>
            <if test="conditions.username != null and conditions.username != ''">
                AND e.username LIKE CONCAT('%', #{conditions.username}, '%')
            </if>
            <if test="conditions.name != null and conditions.name != ''">
                AND e.name LIKE CONCAT('%', #{conditions.name}, '%')
            </if>
            <if test="conditions.phone != null and conditions.phone != ''">
                AND e.phone LIKE CONCAT('%', #{conditions.phone}, '%')
            </if>
            <if test="conditions.email != null and conditions.email != ''">
                AND e.email LIKE CONCAT('%', #{conditions.email}, '%')
            </if>
            AND e.is_delete = 0
        </where>
    </select>


    <!-- 管理员查询所有在职员工 -->
    <select id="getAllOnEmployees" resultType="com.csi.domain.Employee">
        select e.id as id,
        e.username,
        e.name,
        e.phone,
        e.sex,
        e.borndate,
        e.email,
        e.department,
        d.department_name,
        e.role,
        r.role_name,
        e.create_time,
        e.update_time
        from employees e
        join departments d on e.department = d.department_id
        join roles r on e.role = r.id
        where e.is_delete = 0
    </select>

    <!-- 管理员查询所有离职员工 -->
    <select id="getAllLeaveEmployees" resultType="com.csi.domain.Employee">
        select e.id as id,
        e.username,
        e.name,
        e.phone,
        e.sex,
        e.borndate,
        e.email,
        e.department,
        d.department_name,
        e.role,
        r.role_name,
        e.create_time,
        e.update_time
        from employees e
        join departments d on e.department = d.department_id
        join roles r on e.role = r.id
        where e.is_delete = 1
    </select>

    <!-- 经理查询自己的员工 -->
    <select id="getEmployees" resultType="com.csi.domain.Employee">
        select e.id as id,
        e.username,
        e.name,
        e.phone,
        e.sex,
        e.borndate,
        e.email,
        e.department,
        d.department_name,
        e.role,
        r.role_name,
        e.create_time,
        e.update_time
        from employees e
        join departments d on e.department = d.department_id
        join roles r on e.role = r.role_id
        where e.superior_id = #{id}
        and e.is_delete = 0
    </select>

    <!-- 根据员工姓名查询 -->
    <select id="findByUsername" parameterType="string" resultMap="EmployeesResultMap">
        SELECT * FROM employees WHERE username = #{username}
    </select>

    <!-- 根据id查询 -->
    <select id="findById" parameterType="int" resultMap="EmployeesResultMap">
        SELECT * FROM employees WHERE id = #{id}
    </select>

    <select id="findLeaderIdByEmployeeId" resultType="java.lang.Integer">
        select superior_id from employees where id = #{id}
    </select>

    <select id="login" resultType="com.csi.domain.Employee">
        select * from employees where username = #{username} and password = #{password}
    </select>
    <!-- 重置员工密码 -->
    <update id="updatePassword" parameterType="map">
        UPDATE employees
        SET password = #{password},
        update_time = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>




    <!-- 新增员工 -->
    <insert id="save" parameterType="com.csi.domain.Employee">
        INSERT INTO employees (
        username, password, name, sex, phone, borndate, email,
        department, role, superior_id
        ) VALUES (
        #{username}, #{password}, #{name}, #{sex}, #{phone}, #{borndate}, #{email},
        #{department}, #{role}, #{superiorId}
        )
    </insert>

    <!-- 更新员工信息 -->
    <!-- 动态更新员工信息 -->
    <update id="update" parameterType="com.csi.domain.Employee">
        UPDATE employees
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="borndate != null">
                borndate = #{borndate},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="department != null">
                department = #{department},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            <if test="superiorId != null">
                superior_id = #{superiorId},
            </if>
            update_time = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>


    <delete id="deleteById" parameterType="int">
        DELETE FROM employees WHERE id = #{id}
    </delete>



</mapper>
