<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csi.mapper.EmployeeMapper">
    <cache/>

    <resultMap id="EmployeesResultMap" type="com.csi.domain.Employee">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="name" column="name" />
        <result property="sex" column="sex" />
        <result property="phone" column="phone" />
        <result property="borndate" column="borndate" />
        <result property="email" column="email" />
        <result property="department" column="department" />
        <result property="role" column="role" />
        <result property="superiorId" column="superior_id" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />

    </resultMap>

    <!--管理员查询所有员工-->
    <select id="getAllEmployees" resultType="com.csi.domain.Employee">
        select id,username,name,phone,sex,borndate,email,department,department_name,role,role_name,e.create_time,e.update_time
        from employees e join departments d on e.department = d.department_id
        join roles r on e.role = r.role_id
    </select>

    <!--管理员查询所有在职员工-->
    <select id="getAllOnEmployees" resultType="com.csi.domain.Employee">
        select id,username,name,phone,sex,borndate,email,department,department_name,role,role_name,e.create_time,e.update_time
        from employees e join departments d on e.department = d.department_id
        join roles r on e.role = r.role_id
        where is_delete = 0
    </select>

    <!--管理员查询所有离职员工-->
    <select id="getAllLeaveEmployees" resultType="com.csi.domain.Employee">
        select id,username,name,phone,sex,borndate,email,department,department_name,role,role_name,e.create_time,e.update_time
        from employees e join departments d on e.department = d.department_id
        join roles r on e.role = r.role_id
        where is_delete = 1
    </select>

    <!--经理查询自己的员工-->
    <select id="getEmployees" resultType="com.csi.domain.Employee">
        select id,username,name,phone,sex,borndate,email,department,department_name,role,role_name,e.create_time,e.update_time
        from employees e join departments d on e.department = d.department_id
        join roles r on e.role = r.role_id
        where superior_id = #{id}<!--经理id-->and is_delete = 0
    </select>


    <!--    根据员工姓名查询员工信息-->
    <select id="findByUsername" parameterType="string" resultMap="EmployeesResultMap">
        SELECT * FROM employees WHERE username = #{username} AND is_delete = 0
    </select>

    <!--    根据id查询-->
    <select id="findById" parameterType="int" resultMap="EmployeesResultMap">
        SELECT * FROM employees WHERE id = #{id} AND is_delete = 0
    </select>

    <!--    新增员工-->
    <insert id="save" parameterType="com.csi.domain.Employee">
        INSERT INTO employees (
        username, password, name, sex, phone, borndate, email,
        department, role, superior_id
        ) VALUES (
        #{username}, #{password}, #{name}, #{sex}, #{phone}, #{borndate}, #{email},
        #{department}, #{role}, #{superiorId}
        )
    </insert>

    <!--更新员工信息-->
    <update id="update" parameterType="com.csi.domain.Employee">
        UPDATE employees
        SET username = #{username}, name = #{name}, sex = #{sex},
        phone = #{phone}, borndate = #{borndate}, email = #{email},
        department = #{department}, role = #{role}, superior_id = #{superiorId},
        update_time = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FROM employees WHERE id = #{id}
    </delete>

</mapper>