<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csi.mapper.OpportunitiesMapper">
    <cache/>

    <select id="getOpportunities" resultType="com.csi.domain.Opportunities">
        SELECT
        *
        FROM
        opportunities
    </select>

    <insert id="addOpportunities" parameterType="com.csi.domain.Opportunities">
        INSERT INTO opportunities(
        customer_id,
        name,
        amount,
        stage,
        probability,
        expected_close_date,
        assignee_id,
        description
        ) VALUES (
        #{customerId},
        #{name},
        #{amount},
        #{stage},
        #{probability},
        #{expectedCloseDate},
        #{assigneeId},
        #{description}
        )
    </insert>

    <update id="updateOpportunities" parameterType="com.csi.domain.Opportunities">
        UPDATE
        opportunities
        SET
        customer_id = #{customerId}, name = #{name}, amount = #{amount}, stage = #{stage}, probability = #{probability}, expected_close_date = #{expectedCloseDate}, assignee_id = #{assigneeId}, description = #{description}
        WHERE id = #{id}
    </update>


</mapper>