<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csi.mapper.OrdersMapper">
<!--生成订单-->
    <insert id="saveOrders">
        insert into orders(order_number,customer_id,opportunity_id,total_amount,signed_date,
        order_status,file_url,notes,create_time)
        values(#{orderNumber},#{customerId},#{opportunityId},#{totalAmount},#{signedDate},#{orderStatus},#{fileUrl},#{notes},#{createTime})
    </insert>
<!--按订单查询订单-->
    <select id="getOrdersStatus" resultType="com.csi.domain.Orders">
        SELECT
            orders.id as order_id,
            orders.order_number,
            orders.total_amount,
            orders.signed_date,
            orders.order_status,
            orders.file_url,
            orders.notes,
            orders.create_time,
            c.name as customer_name,
            o.name as opportunity_name,
            os.order_status_name
        FROM orders
        LEFT JOIN order_status os ON orders.order_status = os.order_status_id
        LEFT JOIN customers c ON orders.customer_id = c.id
        LEFT JOIN opportunities o ON orders.opportunity_id = o.id
        WHERE orders.order_status = ?
    </select>





</mapper>