<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csi.mapper.PromotionPlansMapper">
<!--添加活动-->
    <insert id="savePromotionPlans">
        insert into
        promotion_plans(id,title,content,budget,submitter_id,approver_id,status,feedback,create_time,update_time)
        values(#{id},#{title},#{content},#{budget},#{submitterId},#{approverId},#{status},#{feedback},#{createTime},#{updateTime})
    </insert>
    <!--修改活动状态/审批活动-->
    <update id="updateByStatus">
        UPDATE promotion_plans
        SET
            status = #{status},
            approver_id = #{approverId},
            feedback = #{feedback},
            update_time = #{updateTime}
        WHERE id = #{id}
    </update>
    <!--未审批活动方案-->
    <select id="getPromotionPlans" resultType="com.csi.domain.PromotionPlans">
        SELECT
            pp.id,
            pp.title,
            pp.content,
            pp.budget,
            pp.feedback,
            pp.create_time,
            pp.update_time,
            ps.plan_status_name,
            s.username as submitter_name,
            a.username as approver_name
        FROM promotion_plans pp
        LEFT JOIN plan_status ps ON pp.status = ps.plan_id
        LEFT JOIN employees s ON pp.submitter_id = s.id
        LEFT JOIN employees a ON pp.approver_id = a.id
        WHERE pp.status = 0;
    </select>


</mapper>